.playerBg{
	position: fixed;
	width: 100%;
	height: 100%;
	border:1px solid red;
	top:0;
	left:0;
	background-image:url(../img/qqmusic_img_repository/album_head/T002R300x300M0000001QUHr0ZY6kM.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: 50% 50%;
	filter: blur(65px);
	background-color: rgb(191, 127, 64);
	opacity:.6
}
.bgMask{
	width: 100%;
	height: 100%;
}
