.nullImg{
	padding-top: 88px;
}
.nothingBeFound{
	font-size: 20px;
	color:#666666;
	text-align: center;
	margin-top: 27px;
}
.topSingerTable{
	table-layout: fixed;
}
.notLastTd{
	height: 265px;
	width: 244px;
	position: relative;
}
.lastTd{
	height: 265px;
	width: 224px;
	position: relative;
}
.topSingerBox{
	height: 245px;
	width: 224px;
	background-color: #fbfbfd;
	position: absolute;
	top:0;
	left: 0;
}
.topSingerHead{
	border-radius:50%;
	height: 140px;
	width: 140px;
	margin-top: 25px;
}
.topSingerName{
	font-size: 16px;
	margin-top: 23px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:190px;
    padding-right: 5px;
    padding-left: 5px;
}
.singerTable{
	table-layout: fixed;
}
.singerTable td{
	width: 244px;
	font-size: 14px;
	line-height: 36px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pageBtn{
	display: inline-block;
	height:50px;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	cursor: pointer;
	margin-right: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.nowPage{
	background-color:#31c27c;
	color:#ffffff;
}
.pageBtnBox{
	margin-top:70px;
	margin-bottom: 60px;
	color:#a2a2a2;
}


















